USE [master]
GO
/****** Object:  Database [SkillUpEasy2]    Script Date: 3/17/2026 10:55:33 PM ******/
CREATE DATABASE [SkillUpEasy2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkillUpEasy2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SkillUpEasy2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SkillUpEasy2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SkillUpEasy2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkillUpEasy2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkillUpEasy2]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NULL,
	[AdminID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[ThumbnailURL] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollDate] [datetime] NULL,
	[Progress] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[VideoURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/17/2026 10:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[RegisterDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Semester 1 SE', N'The course deals with basic programming knowledge and familiarization with computer structure and hardware.')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Semester 2 SE', N'Basic course in object-oriented programming. Focus on teamwork.')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Semester 3 SE', N'The introductory practical courses are the foundation for later programming.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price], [AdminID], [CategoryID], [ThumbnailURL], [CreateDate]) VALUES (2, N'CSD201', N'Data Structures and Algorithms', CAST(0.00 AS Decimal(10, 2)), 1, 3, N'images/csd201.png', CAST(N'2025-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price], [AdminID], [CategoryID], [ThumbnailURL], [CreateDate]) VALUES (3, N'CSI104', N'Introduction to Computer Science.', CAST(600.00 AS Decimal(10, 2)), 1, 1, N'images/csi104.png', CAST(N'2025-10-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Price], [AdminID], [CategoryID], [ThumbnailURL], [CreateDate]) VALUES (4, N'DBI202', N'Introduction to Databases', CAST(600.00 AS Decimal(10, 2)), 1, 3, N'images/dbi202.png', CAST(N'2025-10-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress]) VALUES (2, 2, 2, CAST(N'2025-10-21T19:44:10.220' AS DateTime), CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress]) VALUES (3, 2, 3, CAST(N'2025-10-21T19:44:10.220' AS DateTime), CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress]) VALUES (4, 2, 4, CAST(N'2025-10-21T19:44:10.220' AS DateTime), CAST(100.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoURL]) VALUES (2, 2, N'Introduction to Linked Lists', N'https://www.youtube.com/embed/0npAsij3pBQ?si=VoqMJdiIiLw92-QR')
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoURL]) VALUES (3, 21, N'Introduction to Graph Algorithms', N'https://www.youtube.com/embed/0npAsij3pBQ?si=VoqMJdiIiLw92-QR')
INSERT [dbo].[Lessons] ([LessonID], [CourseID], [Title], [VideoURL]) VALUES (4, 2, N'Introduction to Sorting Techniques', N'https://www.youtube.com/embed/ZRYvH1ZLA8s?si=6MxZidJsCjW78zlM')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (2, 2, 2, CAST(400.00 AS Decimal(10, 2)), CAST(N'2025-10-21T19:44:10.240' AS DateTime), N'ZaloPay')
INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (3, 2, 3, CAST(600.00 AS Decimal(10, 2)), CAST(N'2025-10-21T19:44:10.240' AS DateTime), N'ZaloPay')
INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [Amount], [PaymentDate], [PaymentMethod]) VALUES (4, 2, 4, CAST(600.00 AS Decimal(10, 2)), CAST(N'2025-10-21T19:44:10.240' AS DateTime), N'ZaloPay')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [CourseID], [UserID], [Rating], [Comment], [ReviewDate]) VALUES (2, 2, 2, 4, N'Good introduction to data structures.', CAST(N'2025-10-20T09:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [CourseID], [UserID], [Rating], [Comment], [ReviewDate]) VALUES (3, 3, 2, 5, N'Great intro to computer science, very informative.', CAST(N'2025-10-20T09:00:00.000' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [CourseID], [UserID], [Rating], [Comment], [ReviewDate]) VALUES (4, 4, 2, 3, N'Decent course on databases.', CAST(N'2025-10-20T09:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [RegisterDate]) VALUES (1, N'Admin', N'Admin123@gmail.com', N'$2a$10$X49WUryLCDYcOv.SdR6Z3.L9oX.7ANimkXFt2TnKEy1.dAUhE.1te', 3, CAST(N'2025-10-21T19:24:14.953' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [RegisterDate]) VALUES (2, N'minhbeo', N'cindey199@gmail.com', N'$2a$10$KOPSfSw/UqNg1942aTLCnulm/4wu1P/AVFnS7YZcuQ.BEC/bnrn/e', 1, CAST(N'2025-10-21T19:25:06.793' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [RegisterDate]) VALUES (3, N'minhbeo111', N'nguyenvana@gmail.com', N'$2a$10$72GLBJ.jjXpewg6TPO5g2.bbyd90szzPxgjUXRX3F6HMe79Dq95nG', 1, CAST(N'2025-10-22T21:50:35.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0CA48A925]    Script Date: 3/17/2026 10:55:33 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Enrollme__7B1A1BB564E8F378]    Script Date: 3/17/2026 10:55:33 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E5EF4B94]    Script Date: 3/17/2026 10:55:33 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ((0)) FOR [Progress]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([Progress]>=(0) AND [Progress]<=(100)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='ZaloPay' OR [PaymentMethod]='Momo' OR [PaymentMethod]='Bank Transfer' OR [PaymentMethod]='Credit Card'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=(3) OR [Role]=(1)))
GO
USE [master]
GO
